@media screen and (min-width: 1000px) {
  #navbar_mobile {
    display: none;
  }

  #navbar_desktop {
    display: flex;
    flex-wrap: wrap;
  }

  .contact_bar {
    width: 100%;
    padding: 5px 30px;
  }

  .conctact_bar_btns .fa-brands {
    margin: 0 8px;
  }

  .header_foot {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(126,122,233,1);
  }
  
  .search {
    margin-top: 12px;
  }

  .logo {
    position: absolute;
    top: 40px;
    left: 20px;
  }

  .desktop_filters {
    position: fixed;
    top:75px;
    left: 24px;
  }

  .desktop_filters .search {
    display: none;
  }

  .desktop_filters .menu_container {
    width: 24px;
    min-width: fit-content;
    padding-top: 1px;
    border: 3px solid rgb(109, 105, 221);
    background-color: rgb(232, 232, 240);
  }

  #filters_plus.show {
    transform: translate3d(262px, -65vh, 0);
    overflow: hidden;
    position: fixed;
    z-index: -1;
    width: 260px;
    height: 85%;
  }

  #filters_plus.hide-l {
    transform: translate3d(-10px, -65vh, 0);
    position: fixed;
    z-index: -1;
    width: 260px;
  }

  #sub_filters {
    overflow-y: hidden;
  }

  .login_btn {

  }
}