#home {
  padding: 16px;
  max-width: (100%)-24px;
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#slider_container {
  width: 90%;
  min-width: 750px;
  max-height: 300px;
  margin-top: 30px;
}

.new_products {
  width: 100%;
  justify-content: left;
}
